(
    max_notifications: 0,
    min_window_width: 1,
    min_window_height: 1,

    timeout: 10000,
    poll_interval: 6,

    debug: false,
    debug_color: Color(r: 0.0, g: 1.0, b: 0.0, a: 1.0),

    layout: LayoutBlock (
        hook: Hook(parent_hook: TL, self_hook: TL),
        offset: Vec2(x: 7.0, y: 7.0),
        params: NotificationBlock(NotificationBlockParameters(
            monitor: 0,
            border_width: 3,
            border_rounding: 3.0,
            background_color: Color(r: 0.15686, g: 0.15686, b: 0.15686, a: 1.0),
            border_color_urgency_low: Color(r: 0.15686, g: 0.15686, b: 0.15686, a: 1.0),
            border_color_urgency_normal: Color(r: 0.92157, g: 0.858824, b: 0.698039, a: 1.0),
            border_color_urgency_critical: Color(r: 0.98431, g: 0.28627, b: 0.203922, a: 1.0),
            border_color_paused: Color(r: 0.98431, g: 0.741176, b: 0.184314, a: 1.0),

            gap: Vec2(x: 0.0, y: 8.0),
            notification_hook: Hook(parent_hook: BL, self_hook: TL),
        )),
        children: [
            LayoutBlock (
                hook: Hook(parent_hook: TL, self_hook: TL),
                offset: Vec2(x: 0.0, y: 0.0),
                params: ImageBlock(ImageBlockParameters(  // image block
                    image_type: Hint,
                    padding: Padding(left: 7.0, right: 0.0, top: 7.0, bottom: 7.0),
                    rounding: 3.0,
                    scale_width: 48,
                    scale_height: 48,
                    min_width: 0,
                    min_height: 0,
                    filter_mode: Lanczos3,
                )),
                children: [
                    LayoutBlock (         // summary block
                        hook: Hook(parent_hook: MR, self_hook: BL),
                        offset: Vec2(x: 0.0, y: 0.0),
                        params: TextBlock(TextBlockParameters(
                            text: "<b>%s</b>",
                            font: "Arial 10",
                            color: Color(r: 0.92157, g: 0.858824, b: 0.698039, a: 1.0),
                            padding: Padding(left: 7.0, right: 7.0, top: 7.0, bottom: 3.5),
                            dimensions: (width: (min: 301, max: 301), height: (min: 0, max: 0)),
                            dimensions_image_hint: (width: (min: 230, max: 230), height: (min: 0, max: 0)),
                            dimensions_image_app: (width: (min: 230, max: 230), height: (min: 0, max: 0)),
                            dimensions_image_both: (width: (min: 230, max: 230), height: (min: 0, max: 0)),
                        )),
                        children: [
                            LayoutBlock (        // body block
                                hook: Hook(parent_hook: BL, self_hook: TL),
                                offset: Vec2(x: 0.0, y: 0.0),
                                params: ScrollingTextBlock(ScrollingTextBlockParameters(
                                    text: "%b",
                                    font: "Arial 10",
                                    color: Color(r: 0.92157, g: 0.858824, b: 0.698039, a: 1.0),
                                    padding: Padding(left: 7.0, right: 7.0, top: 3.5, bottom: 7.0),
                                    width: (min: 301, max: 301),
                                    width_image_hint: (min: 230, max: 230),
                                    width_image_app: (min: 230, max: 230),
                                    width_image_both: (min: 230, max: 230),
                                    scroll_speed: 0.1,
                                    lhs_dist: 35.0,
                                    rhs_dist: 35.0,
                                    scroll_t: 1.0,
                                )),
                                children: [],
                            ),
                        ],
                    ),
                ],
            ),
        ],
    ),

    shortcuts: ShortcutsConfig (
        notification_close: 1,
        notification_closeall: 3,
        notification_pause: 2,
        notification_url: 8,
    ),
)
